## Exploring the data
---

1. **Understanting the dataset:** No. of rows/columns, column names, datatype etc.


2. **Identifying the problem:** Check for missing data, incorrect datatype, duplicate entry etc.


3. **Plan for next steps:** Plan for the next steps to solve the problems found.

### Reading the rows
---

Rows can be read in order to get better understanding of what the data is all about.

Since it is impossible to read whole data, we can read first or last few rows by using the following functions:

- **head:** `df.head()` gives first 5 rows by default. We can also specify the number of rows we want by adding number inside ().
- **tail:** `df.tail()` gives last 5 rows by default. We can also specify the number of rows we want by adding number inside ().

In [2]:
import pandas as pd

df = pd.read_json("sample_Data.json")

print("-----First 5 rows-----\n")
print(df.head())

print("\n\n-----Last 5 rows-----\n")
print(df.tail())

-----First 5 rows-----

   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones

                                         description    price     category  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00  Electronics
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00  Electronics
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99  Electronics
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99  Electronics
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00  Electronics

                                               image
0  https://www.apple.com/newsroom/images/product/...
1  https://images.samsung.com/is/image/samsung/p6...
2  https://www.sony.com/image/44baa604124b770c824...
3  https://www.lg.com/us/images/tvs/md07501804/ga...
4  https://assets.bose.com/content/dam/Bose_DAM/W...


-----Last 5 rows-----

    id                                       name  \
15  16  Breville Barista Express Espresso Machine
16  17                Keurig K-Elite Coffee Maker
17  18             iRobot Roomba i7+ Robot Vacuum
18  19           Ninja Foodi Digital Air Fry Oven
19  20           Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

In [5]:
df = pd.read_csv("sales_data_sample.csv", encoding = 'latin1')

print("-----First 3 rows-----\n")
print(df.head(3))

print("\n-----Last 3 rows-----\n")
print(df.tail(3))

-----First 3 rows-----

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34

        ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0  2/24/2003 0:00  Shipped       1         2     2003  ...
1   5/7/2003 0:00  Shipped       2         5     2003  ...
2   7/1/2003 0:00  Shipped       3         7     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2   CITY STATE POSTALCODE  \
0        897 Long Airport Avenue           NaN    NYC    NY      10022
1             59 rue de l'Abbaye           NaN  Reims   NaN      51100
2  27 rue du Colonel Pierre Avia           NaN  Paris   NaN      75508

  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0     USA       NaN              Yu             Kwai    Small
1  France      EMEA         Henriot             Paul    Small
2  France      EMEA        Da Cunha           Daniel   Medium

[3 rows x 25 columns]

-----Last 3 rows-----

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

           ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2820   3/1/2005 0:00  Resolved       1         3     2005  ...
2821  3/28/2005 0:00   Shipped       1         3     2005  ...
2822   5/6/2005 0:00   On Hold       2         5     2005  ...

               ADDRESSLINE1  ADDRESSLINE2      CITY STATE POSTALCODE COUNTRY  \
2820     C/ Moralzarzal, 86           NaN    Madrid   NaN      28034   Spain
2821  1 rue Alsace-Lorraine           NaN  Toulouse   NaN      31000  France
2822     8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA

     TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2820      EMEA          Freyre            Diego   Medium
2821      EMEA          Roulet          Annette    Small
2822       NaN         Yoshido             Juri   Medium

[3 rows x 25 columns]