## Understanding the data
---

- How many `rows` and `columns` are in the data frame?
- What `datatype` is carried by each column (int, float, string, dates etc)?
- Which column has `missing data` and where?

### Info Method
---

Pandas provides a method called *`info()`* that gives a summarized overview about the details such as:

1. No. of rows and columns
2. Column name
3. Datatypes (int64, float64, object etc)
4. Non null counts (missing data in any column)
5. Memory usage of the data frame

In [3]:
import pandas as pd

df = pd.read_json("sample_Data.json")

print("Summarized detail about the data frame:\n")
print(df.info())

# another data:
df = pd.read_json("output.json")

print("\n\nSummarized detail about the data frame:\n")
print(df.info())

Summarized detail about the data frame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None


Summarized detail about the data frame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

### Describe Method:
---

Provides the statistical analysis of the numerical columns in the dataframe.

(Data frame mein jtne bhi numerical columns hain, jin mein numerical values hain, statistical analysis krke deta hai.)

Such as:

- **Count:** No. of non-null values in each column.


- **Mean:** The arithematic average of all the values in each column.
- **STD (Standard-deviation):** How much spread-out the values are from the mean. Can be High-STD or Low-STD;

        High-STD when the STD value is very far from the mean.
        Low-STD when the STD value is near to the mean.
- **Min:** The lowest value in each column.
- **25% (1st Quartile - Q1):** The value below which 25% of the data falls.
- **50% (2st Quartile - Q2):** The middle value that divides the data into two equal halves.
- **75% (3st Quartile - Q3):** The value below which 75% of the data falls.
- **Max:** The highest value in each column.

In [5]:
data = {
    "Name": ["Alex", "Finch", "Root", "Williamson", "Inzamam", "Ponting", "Kohli"],
    "Age": [23, 21, 34, 32, 29, 45, 32],
    "Salary": [32000, 50000, 58000, 21000, 88000, 43000, 34000],
    "Performance Score": [45, 68, 90, 79, 53, 75, 90]

}

df = pd.DataFrame(data)
print(df)

print("\n\nDescriptive Statistics:\n")
print(df.describe())

         Name  Age  Salary  Performance Score
0        Alex   23   32000                 45
1       Finch   21   50000                 68
2        Root   34   58000                 90
3  Williamson   32   21000                 79
4     Inzamam   29   88000                 53
5     Ponting   45   43000                 75
6       Kohli   32   34000                 90


Descriptive Statistics:

             Age        Salary  Performance Score
count   7.000000      7.000000           7.000000
mean   30.857143  46571.428571          71.428571
std     7.904188  21968.592299          17.367183
min    21.000000  21000.000000          45.000000
25%    26.000000  33000.000000          60.500000
50%    32.000000  43000.000000          75.000000
75%    33.000000  54000.000000          84.500000
max    45.000000  88000.000000          90.000000